.instruments {
  padding-top: 120px;

  &__wrapper {
    margin-top: 60px;
    padding: 0 10px 0 10px;
    display: grid;
    grid-template-columns: repeat(4, 270px);
    gap: 13px;
  }

  &__item {
    padding: 30px 30px 30px 25px;
    border: 1px solid black;

    h3 {
      margin-top: 20px;
    }

    &-text {
      margin-top: 15px;
      font-size: 12px;
      line-height: 18px;
    }
  }

  &__charts {
    padding-top: 128px;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    column-gap: 45px;
    row-gap: 30px;

    &-item {
      &__wrapper {
        display: flex;
        justify-content: space-between;

        h2 {
          padding-left: 14px;

          &::before {
            top: -7px;
            left: 20px;
          }
        }
      }

      &__chart {
        margin-top: 27px;
        position: relative;
        background-color: #e8e4de;
        border-radius: 4px;
        width: 350px;
        height: 14px;
      }

      &__filler {
        position: absolute;
        background: $second-color;
        border-radius: 4px;
        height: 100%;
      }
    }
  }
}
